{extend name="public:base" /}<!--继承base这个模板，使之成为index的一部分-->
{block name="content"}
<div id="goods" class="allWrap">
		<div class="clearfix">
			{volist name="list" id="goods" empty="$empty"}<!--当$list变量为空时显示$empty的值-->
			 <dl>
			 	{if condition="isset($goods['shipping']) and ($goods['shipping'] eq 0)"}
			 	<span class="no_shipping">免配送商品</span>
			 	{/if}
			 	<dt><a href="{:url('/goods/'.$goods['goods_id'])}"><!--get传入一个商品id-->
			 		{if condition="!empty($goods['image'])"}<!--数据库没有则上传本地存储的图片-->
				 		<img src="{$goods.image|resize=230,230}">
				 		{else /}
				 		<img src="__PUBLIC__/images/no_image_230x230.jpg">
			 		{/if}
			 		</a>
			 		</dt>
			 	<dd><a href="{:url('/goods/'.$goods['goods_id'])}">{$goods.name}</a></dd><!--get的方式传送一个商品的id值-->
			 	<dd><a class="red" href="{:url('/goods/'.$goods['goods_id'])}"> &yen; {$goods.price}</a></dd>
			 </dl>
			{/volist}
			<div class="clearfix" style="height:10px;"></div>
		</div>
		
</div>			
{/block}